STORAGE_DIR=./app/temp
# DATABASE_URL=sqlite:///./app/temp/projects.sqlite3
TEMP_PROJECT_TTL_HOURS=24
PIL_IMAGE_MAX_PIXELS=1000000000
ARCGIS_TOKEN_URL=http://192.168.173.99:8090/api/sma/token/
ARCGIS_360_QUERY_URL=https://services8.arcgis.com/MRbkurfLm8nmQrDq/ArcGIS/rest/services/Imagens_360/FeatureServer/0/query
ARCGIS_360_ID_FIELD=OBJECTID
CSV_VIEW_URL_DEFAULT=https://georaster.lucasdorioverde.mt.gov.br/fotos/app360/index.php/
